$font-family-default: 'Raleway', sans-serif;
$font-size-base: 16px;

h1 {
    font-size: 1.45em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.15em;
}

blockquote {
    font-size: 1.2em;
    i {
        font-weight: 600;
    } 
}

