$font-family-default: 'Raleway', sans-serif;
$font-size-base: 16px;

h1 {
    font-size: 1.45em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.15em;
}

blockquote {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;    
    margin: 20px;
    font-size: 1.2em;
    i {
        font-weight: 600;
    } 
}

