@import './breakpoints.scss';

@mixin sm {
    @media (min-width: $breakpoint-sm) {
        @content;
    }
}
@mixin md {
    @media (min-width: $breakpoint-md) {
        @content;
    }
}
@mixin lg {
    @media (min-width: $breakpoint-lg) {
        @content;
    }
}
@mixin xl {
    @media (min-width: $breakpoint-xl) {
        @content;
    }
}

.hidden-sm {
    display: none;
    @media (min-width: $breakpoint-md) {
        display: inherit;
    }    
}

.container {
    margin-left: 10px;
    margin-right: 10px;
    @include lg() {
        width: $breakpoint-lg;
        margin-left: auto;
        margin-right: auto;
    }
}

